<section data-ng-controller="StoriesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="story.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == story.user._id">
		<a class="btn btn-primary" href="/#!/stories/{{story._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="story.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="story.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="story.content"></p>
  
	<div class="page-header">
		<h1>Words ({{ story.wordcount }})</h1>
    <ul class="words-list">
      <li class="animate-repeat" ng-repeat="word in story.words">
        <strong>{{word.original}}:</strong> {{word.furigana}}
      </li>
      <li class="animate-repeat" ng-if="results.length == 0">
        <strong>No results found...</strong>
      </li>
    </ul>
	</div>
</section>
