<section data-ng-controller="StoriesController" data-ng-init="find()">
	<div class="page-header">
		<h1>Stories</h1>
	</div>
	<div class="list-group">
    <div class="sort">
        <strong>Sort by: </strong>
        <a ng-click="sortBy('title')">Title</a>
          <i class="fa fa-sort" ng-if="sortOrder != 'title'"></i>
          <i class="fa fa-sort-down" ng-if="!(reverse) && sortOrder == 'title'"></i>
          <i class="fa fa-sort-up" ng-if="reverse && sortOrder == 'title'"></i> |
        <a ng-click="sortBy('created')">Date</a>
          <i class="fa fa-sort" ng-if="sortOrder != 'created'"></i>
          <i class="fa fa-sort-down columnSortIcons" ng-if="!(reverse) && sortOrder == 'created'"></i>
          <i class="fa fa-sort-up columnSortIcons" ng-if="reverse && sortOrder == 'created'"></i>
    </div>
		<a data-ng-repeat="story in stories"  data-ui-sref="stories.view({storyId: story._id})" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="story.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="story.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="story.title"></h4>
			<p class="list-group-item-text" data-ng-bind="story.content"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="stories.$resolved && !stories.length">
		No stories yet, why don't you <a data-ui-sref="stories.create">create one</a>?
	</div>
</section>
